body {
	font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
	font-family: Arial;
	padding: 10px;
	background: #ececec;
}
.header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
}

/* Footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

.button {
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	background-color: #005493;
}
